<div class="regionalization-modal">
  <div class="modal-body">
    <uib-tabset active="0">
      <uib-tab index="0" heading="项目介绍">
        <div class="row" style="margin-top: 10px">
          <div class="col-sm-12 column">
            <form name="vm.projectapprovalForm" class="form-horizontal" novalidate>
              <fieldset ng-disabled="vm.disabled">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-12 form-group" show-errors>
                          <label class="control-label" for="ProjectName">项目名称</label>
                          <input name="ProjectName" type="text" ng-model="vm.projectData.ProjectName"
                                 id="ProjectName" class="form-control" maxlength="25"
                                 placeholder="请输入项目名称" required autofocus>
                          <div ng-messages="vm.projectapprovalForm.ProjectName.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">项目名称不能为空！</p>
                          </div>
                          <div ng-messages="vm.projectapprovalForm.ProjectName.$error" role="alert">
                            <p class="help-block error-text" ng-message="maxlength">字数在25字以内</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="col-md-12 form-group">
                          <label class="control-label">项目来源</label>
                          <select class="form-control"
                                  ng-model="vm.projectData.Source"
                                  ng-options="ps.projectSourcename as ps.projectSourcename for ps in projectSourceInfo">
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="col-md-12 form-group">
                          <label class="control-label">项目类型</label>
                          <select class="form-control"
                                  ng-model="vm.projectData.ProjectType"
                                  ng-options="pt.projectTypename as pt.projectTypename for pt in projectTypeInfo">
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="col-md-12 form-group" show-errors>
                          <label class="control-label" for="SbTime">申报时间</label>
                          <p class="input-group">
                            <input name="SbTime" type="text" class="form-control" id="SbTime"
                                   uib-datepicker-popup ng-model="vm.projectData.SbTime" is-open="popup1.opened"
                                   datepicker-options="inlineOptions" ng-required="true"
                                   close-text="Close" ng-disabled="vm.disabled"
                                   placeholder="请选择时间"/>
                            <span class="input-group-btn">
            <button type="button" class="btn btn-default"
                    ng-click="open1()" ng-disabled="vm.disabled"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </span>
                          </p>
                          <div ng-messages="vm.projectapprovalForm.SbTime.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">上报时间不能为空！</p>
                          </div>

                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="col-md-12 form-group" show-errors>
                          <label class="control-label" for="finishtime">拟完成时间</label>
                          <p class="input-group">
                            <input name="FinishTime" type="text" class="form-control" id="FinishTime"
                                   uib-datepicker-popup ng-model="vm.projectData.FinishTime" is-open="popup2.opened"
                                   datepicker-options="inlineOptions" ng-required="true"
                                   close-text="Close" ng-disabled="vm.disabled"
                                   placeholder="请选择时间"/>
                            <span class="input-group-btn">
            <button type="button" class="btn btn-default"
                    ng-click="open2()" ng-disabled="vm.disabled"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </span>
                          </p>
                          <div ng-messages="vm.projectapprovalForm.FinishTime.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">拟完成时间不能为空！</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-12">
                      <label class="control-label">项目Logo</label>
                      <div class="form-group text-center">
                        <img ngf-src="vm.fileSelected ? vm.picFile : vm.projectData.ProjectLogo"
                             alt="" class="img-thumbnail project-profile-picture" ngf-drop>
                      </div>
                      <div ng-show="vm.loading" class="form-group text-center">
                        <img ng-src="/modules/core/client/img/loaders/loader.gif"
                             height="80" width="40" alt="Loading image...">
                      </div>
                      <div class="text-center form-group">
                        <button class="btn btn-default btn-file"
                                ngf-select="(vm.fileSelected = true) && (vm.loading = false)"
                                ng-model="vm.picFile" accept="image/*"
                                ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}"
                                ngf-resize-if="$width > 400 || $height > 400">点击选择项目Logo图片
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div>
            <span class="col-md-12" style="color: red"
                  ng-show="vm.yzSbTimeAndFinishTime">*申报时间不能大于等于拟完成时间！</span>
                  </div>
                </div>
                <div class="col-md-12 form-group">
                  <label class="control-label" for="ProjectSummary">项目简介</label>
                  <textarea name="ProjectSummary" data-ng-model="vm.projectData.ProjectSummary"
                            maxlength="2500"
                            id="ProjectSummary" class="form-control" cols="30"
                            rows="3" placeholder="请输入项目简介"></textarea>
                  <div>
                    <span style="color: red" ng-show="vm.yzProjectsummary">*项目简介不能为空！</span>
                  </div>
                </div>
                <div class="col-md-12 form-group">
                  <label class="control-label" for="Measure">具体推进措施</label>
                  <textarea name="Measure" data-ng-model="vm.projectData.Measure"
                            maxlength="500"
                            id="Measure" class="form-control" cols="30"
                            rows="3" placeholder="请输入具体推进措施"></textarea>
                  <div>
                    <span style="color: red" ng-show="vm.yzMeasure">*推进措施不能为空！</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="col-md-12 form-group" show-errors>
                          <label class="control-label" for="Head">负责人</label>
                          <input name="Head" type="text" ng-model="vm.projectData.Head"
                                 id="Head" class="form-control" maxlength="20"
                                 ng-pattern="/^[\u4e00-\u9fa5]/"
                                 placeholder="请输入负责人名称" required autofocus>
                          <div ng-messages="vm.projectForm.Head.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">负责人不能为空！</p>
                          </div>
                          <div ng-show="vm.projectForm.Head.$dirty && vm.projectForm.Head.$invalid" class="has-error"
                               style="text-align: left">
                            <span class="help-block" ng-show="vm.projectForm.Head.$error.pattern">责任人必须是汉字!</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="col-md-12 form-group" show-errors>
                          <label class="control-label" for="State">状态</label>
                          <input name="State" type="text" ng-model="vm.projectData.State"
                                 id="State" class="form-control"
                                 placeholder="请输入状态" required autofocus>
                          <div ng-messages="vm.projectForm.State.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">状态不能为空！</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--<div class="col-md-6">
                    <div class="col-md-12 form-group">
                      <label class="control-label">上报社区</label>
                      <select class="form-control"
                              ng-model="vm.projectData.Report"
                              ng-options="c.communityId as c.communityName for c in communityInfo">
                      </select>
                    </div>
                  </div>-->
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="col-md-12 form-group" show-errors>
                      <label class="control-label" for="People">受益人数（单位：人）</label>
                      <input name="People" type="text" ng-model="vm.projectData.People"
                             id="People" class="form-control"
                             ng-pattern="/^[0-9]*$/" maxlength="10"
                             placeholder="请输入受益人数" required autofocus>
                      <div ng-messages="vm.projectapprovalForm.People.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">受益人数不能为空！</p>
                      </div>
                      <div ng-show="vm.projectapprovalForm.People.$dirty && vm.projectapprovalForm.People.$invalid"
                           class="has-error"
                           style="text-align: left">
                        <span class="help-block"
                              ng-show="vm.projectapprovalForm.People.$error.pattern">受益人数只能为数字!</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-12 form-group" show-errors>
                      <label class="control-label" for="company">认领单位</label>
                      <input name="company" type="text" ng-model="vm.projectData.company"
                             id="company" class="form-control" maxlength="100"
                             placeholder="请输入认领单位" required autofocus>
                      <div ng-messages="vm.projectapprovalForm.company.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">认领单位不能为空！</p>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="1" heading="项目审批">
        <form name="vm.approvalForm" class="form-horizontal" novalidate>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-12">
              <div class="col-md-12 form-group" show-errors>
                <label class="control-label" for="approvedDepartment">审批部门</label>
                <input name="approvedDepartment" type="text" ng-model="vm.projectData.approvedDepartment"
                       id="approvedDepartment" class="form-control"
                       maxlength="20"
                       placeholder="请输入审批部门" required autofocus>
                <div ng-messages="vm.projectapprovalForm.approvedDepartment.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">审批部门不能为空！</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-12 form-group">
                <label class="control-label">是否审批通过</label>
                <select class="form-control"
                        ng-model="vm.projectData.ispast"
                        ng-options="a.approvedid as a.approvedname for a in approvedInfo">
                </select>
              </div>
            </div>
            <div class="col-md-12" ng-show="vm.projectData.ispast === -1">
              <div class="col-md-12 form-group">
                <label class="control-label" for="refuse">驳回原因</label>
                <textarea name="refuse" data-ng-model="vm.projectData.refuse"
                          maxlength="500"
                          id="refuse" class="form-control" cols="30"
                          rows="3" placeholder="请输入驳回原因"></textarea>
                <div>
                  <span style="color: red" ng-show="vm.yzRejectCause">*驳回原因不能为空！</span>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <button class="btn btn-primary" ng-if="vm.disabled"
                    style="width: 100%"
                    ng-click="vm.approval(vm.approvalForm.$valid)">审&nbsp;&nbsp;核
            </button>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="vm.cancel()">取消</button>
  </div>
</div>
