<section class="home-view view-backgroupd" auto-height="0">
  <div class="shouyeshang">
    <div class="partygk">
      <div class="patitle">
        <a href="#" style="float: left">
          <i></i>
          <span>区情概况</span>
        </a>
        <!--<a href="#" style="float: right"><span>查看详情>></span></a>-->
      </div>
      <div style="margin: 0 20px;height: 90%">
        <img src="/modules/global/client/img/home/党建概况.png" style="float: left;width: 60%;padding-right: 5px;">
        <!--<span style="float: left">-->
        <!--这次榜单有一位新的首富——恒大的许家印。他的个人财富值半年涨了近2000亿，达到历史上新高2900亿，几乎是去年4倍。他是胡润百富榜19年来第12位中国首富，也是历年来财富最高的首富。-->
        <!--</span>-->
        <p style="line-height: 28px;text-indent: 2em;">莲湖区（Lianhu District），西安市市辖区，位于西安市城区西北部。东以北大街、北关正街、龙首村与新城区接壤，西以西户铁路、北以纬二十六街与未央区相连，南以护城河、大环河与碑林区、未央区毗邻。总面积38平方千米，总人口71.23万（2015年）。辖9个街道，区政府驻北院门街道北院门159号。
          莲湖区是历史上著名的“丝绸之路”起点，建有“丝绸之路”大型雕塑、大唐西市、大唐西市博物馆等丝路旅游景点。
          交通发达，陇海铁路、西户铁路过境，有环城路、二环路等街路。古迹有唐长安城遗址，明、清两代修建的鼓楼，明城墙，化觉巷清真寺，清代建广仁寺（俗称喇嘛寺），杨虎城官邸“止园”。
        </p>
      </div>

    </div>
    <div class="partyjc">
    </div>
    <div class="partywj">
      <div class="patitle">
        <a href="#" style="float: left">
          <i></i>
          <span>通知文件</span>
        </a>
        <!--<a href="#" style="float: right"><span>查看详情>></span></a>-->
      </div>
      <div style="margin: 0 20px">
        <ul class="inform">
          <li>
            <span class="informtitle">8月份建材行业运行情况</span>
            <span style="float: right">2017-10-25</span>
          </li>
          <li>
            <span class="informtitle">8月份建材行业运行情况8月份建材行业运行情况8月份建材行业运行情况8月份建材行业运行情况8月份建材行业运行情况8月份建材行业运行情况</span>
            <span style="float: right">2017-10-25</span>
          </li>
          <li>
            <span class="informtitle">8月份建材行业运行情况</span>
            <span style="float: right">2017-10-25</span>
          </li>
          <li>
            <span class="informtitle">8月份建材行业运行情况</span>
            <span style="float: right">2017-10-25</span>
          </li>
          <li>
            <span class="informtitle">8月份建材行业运行情况</span>
            <span style="float: right">2017-10-25</span>
          </li>
          <li>
            <span class="informtitle">8月份建材行业运行情况</span>
            <span style="float: right">2017-10-25</span>
          </li>
          <li>
            <span class="informtitle">8月份建材行业运行情况</span>
            <span style="float: right">2017-10-25</span>
          </li>
          <li>
            <span class="informtitle">8月份建材行业运行情况</span>
            <span style="float: right">2017-10-25</span>
          </li>
          <li>
            <span class="informtitle">8月份建材行业运行情况</span>
            <span style="float: right">2017-10-25</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="shouyexia">
    <div class="wentuhd1">
      <div class="patitle">
        <a href="#" style="float: left">
          <i></i>
          <span>党建动态</span>
        </a>
        <!--<a href="#" style="float: right"><span>查看详情>></span></a>-->
      </div>
      <div class="nr">
        <div class="wentuhdleft">
          <div id="slider" style="height: 100%;">
            <div style="height: 100%;">
              <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" style="height: 100%;">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" style="height: 100%;">
                  <img ng-src="{{slide.image}}" style="margin:auto;width:100%;" >
                  <div class="carousel-caption">
                    <p style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{slide.text}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wentuhdright" style="padding-left: 15px;">
          <ul class="inform" style="list-style: none;">
            <li>
              <span class="informtitle">8月份建材行业运行情况</span>
              <span style="float: right">2017-10-25</span>
            </li>
            <li>
              <span class="informtitle">8月份建材行业运行情况8月份建材行业运行情况8月份建材行业运行情况8月份建材行业运行情况8月份建材行业运行情况8月份建材行业运行情况</span>
              <span style="float: right">2017-10-25</span>
            </li>
            <li>
              <span class="informtitle">8月份建材行业运行情况</span>
              <span style="float: right">2017-10-25</span>
            </li>
            <li>
              <span class="informtitle">8月份建材行业运行情况</span>
              <span style="float: right">2017-10-25</span>
            </li>
            <li>
              <span class="informtitle">8月份建材行业运行情况</span>
              <span style="float: right">2017-10-25</span>
            </li>
            <li>
              <span class="informtitle">8月份建材行业运行情况</span>
              <span style="float: right">2017-10-25</span>
            </li>
            <li>
              <span class="informtitle">8月份建材行业运行情况</span>
              <span style="float: right">2017-10-25</span>
            </li>
            <li>
              <span class="informtitle">8月份建材行业运行情况</span>
              <span style="float: right">2017-10-25</span>
            </li>
            <li>
              <span class="informtitle">8月份建材行业运行情况</span>
              <span style="float: right">2017-10-25</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="banzicy">
      <div class="patitle">
        <a href="#" style="float: left">
          <i></i>
          <span>党（工）委</span>
        </a>
        <!--<a href="#" style="float: right"><span>查看详情>></span></a>-->
      </div>
      <div class="zhonglou">
        <ul>
          <li>
            <img src="/modules/global/client/img/home/钟楼.png">
            <h4>钟楼</h4>
          </li>
          <li class="dier">
            <img src="/modules/global/client/img/home/钟楼.png">
            <h4>钟楼</h4>
          </li>
          <li class="dier1">
            <img src="/modules/global/client/img/home/钟楼.png">
            <h4>钟楼</h4>
          </li>
          <li>
            <img src="/modules/global/client/img/home/钟楼.png">
            <h4>钟楼</h4>
          </li>
          <li>
            <img src="/modules/global/client/img/home/钟楼.png">
            <h4>钟楼</h4>
          </li>
          <li class="dier">
            <img src="/modules/global/client/img/home/钟楼.png">
            <h4>钟楼</h4>
          </li>
          <li class="dier1">
            <img src="/modules/global/client/img/home/钟楼.png">
            <h4>钟楼</h4>
          </li>
          <li>
            <img src="/modules/global/client/img/home/钟楼.png">
            <h4>钟楼</h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
