<section class="home-view view-backgroupd" auto-height="0" style="background-color: #fff">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4" style="padding: 0;">
        <img src="/modules/global/client/img/citybuild/left.png" alt="" width="100%" height="800px;">
      </div>
      <div class="col-md-4" style="padding: 0;">
        <img src="/modules/global/client/img/citybuild/middle.png" alt="" width="100%" height="800px;">
      </div>
      <div class="col-md-4" style="padding: 0;">
        <img src="/modules/global/client/img/citybuild/right.png" alt="" width="100%" height="800px;">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 wxy">
        <div class="title">
          <img src="/modules/global/client/img/citybuild/danghui.png" alt="">
          <span>微心愿</span>
        </div>
        <ul class="content">
          <li>
            <div class="img">
              <img src="/modules/global/client/img/citybuild/xylogo.png" alt="">
            </div>
            <div class="msg">
              <h4>点亮"微心愿" 争做"圆梦人"</h4>
              <p style="line-height: 1.7;text-indent: 2em;margin-bottom: 0;">Bootstrap，来自 Twitter，是目前最受欢迎的前端框架。Bootstrap 是基于 HTML、CSS、JAVASCRIPT的，它简洁灵活，使得 Web 开发更加快捷。本教程将向您讲解 Bootstrap 框架的基础，通过学习这些内容，</p>
              <span style="float: right;line-height: 10px;color:#ccc;">2017-10-18</span>
            </div>
          </li>
          <li>
            <div class="img">
              <img src="/modules/global/client/img/citybuild/xylogo.png" alt="">
            </div>
            <div class="msg">
              <h4>点亮"微心愿" 争做"圆梦人"</h4>
              <p style="line-height: 1.7;text-indent: 2em;margin-bottom: 0;">Bootstrap，来自 Twitter，是目前最受欢迎的前端框架。Bootstrap 是基于 HTML、CSS、JAVASCRIPT的，它简洁灵活，使得 Web 开发更加快捷。本教程将向您讲解 Bootstrap 框架的基础，通过学习这些内容，</p>
              <span style="float: right;line-height: 10px;color:#ccc;">2017-10-18</span>
            </div>
          </li>
          <li>
            <div class="img">
              <img src="/modules/global/client/img/citybuild/xylogo.png" alt="">
            </div>
            <div class="msg">
              <h4>点亮"微心愿" 争做"圆梦人"</h4>
              <p style="line-height: 1.7;text-indent: 2em;margin-bottom: 0;">Bootstrap，来自 Twitter，是目前最受欢迎的前端框架。Bootstrap 是基于 HTML、CSS、JAVASCRIPT的，它简洁灵活，使得 Web 开发更加快捷。本教程将向您讲解 Bootstrap 框架的基础，通过学习这些内容，</p>
              <span style="float: right;line-height: 10px;color:#ccc;">2017-10-18</span>
            </div>
          </li>
          <li>
            <div class="img">
              <img src="/modules/global/client/img/citybuild/xylogo.png" alt="">
            </div>
            <div class="msg">
              <h4>点亮"微心愿" 争做"圆梦人"</h4>
              <p style="line-height: 1.7;text-indent: 2em;margin-bottom: 0;">Bootstrap，来自 Twitter，是目前最受欢迎的前端框架。Bootstrap 是基于 HTML、CSS、JAVASCRIPT的，它简洁灵活，使得 Web 开发更加快捷。本教程将向您讲解 Bootstrap 框架的基础，通过学习这些内容，</p>
              <span style="float: right;line-height: 10px;color:#ccc;">2017-10-18</span>
            </div>
          </li>
        </ul>
        <div class="biglogo">
          <img src="/modules/global/client/img/citybuild/wxybig.png" alt="" width="100%;">
        </div>
      </div>
      <div class="col-md-4">
        <div class="imgtitle">
          <img src="/modules/global/client/img/citybuild/citydangjian.png" alt="" width="100%">
        </div>
        <div class="title">
          <img src="/modules/global/client/img/citybuild/danghui.png" alt="">
          <span>微心愿</span>
        </div>
      </div>
      <div class="col-md-4">
        项目管理、积分制
      </div>
    </div>
  </div>
</section>
