<section class="home-view view-backgroupd" auto-height="0" style="background-color: #fff">
    <!--<a href="/sjgl" class="item-index padding-top one">-->
      <!--<div class="img">-->
        <!--<img src="/modules/global/client/img/images/1.png" alt="">-->
      <!--</div>-->
    <!--</a>-->
    <!--<a href="/dlxx" class="item-index padding-top two">-->
      <!--<div class="img">-->
        <!--<img src="/modules/global/client/img/images/2.png" alt="">-->
      <!--</div>-->
    <!--</a>-->
    <!--<a href="/szcg" class="item-index padding-top three">-->
      <!--<div class="img">-->
        <!--<img src="/modules/global/client/img/images/3.png" alt="">-->
      <!--</div>-->
    <!--</a>-->
    <!--<a href="/wgh" class="item-index padding-top four">-->
      <!--<div class="img">-->
        <!--<img src="/modules/global/client/img/images/4.png" alt="">-->
      <!--</div>-->
    <!--</a>-->
    <!--<a href="/sphy" class="item-index padding-top five">-->
      <!--<div class="img">-->
        <!--<img src="/modules/global/client/img/images/5.png" alt="">-->
      <!--</div>-->
    <!--</a>-->
    <!--<a href="/spjk" class="item-index padding-top six">-->
      <!--<div class="img">-->
        <!--<img src="/modules/global/client/img/images/6.png" alt="">-->
      <!--</div>-->
    <!--</a>-->
    <!--<a href="/gzfw" class="item-index padding-top seven">-->
      <!--<div class="img">-->
        <!--<img src="/modules/global/client/img/images/7.png" alt="">-->
      <!--</div>-->
    <!--</a>-->
    <!--<a href="/yjzh" class="item-index padding-top eight">-->
      <!--<div class="img">-->
        <!--<img src="/modules/global/client/img/images/8.png" alt="">-->
      <!--</div>-->
    <!--</a>-->
  <!--<div class="line1 line"></div>-->
  <!--<div class="line2 line"></div>-->
  <!--<div class="line3 line"></div>-->
  <!--<div class="line4 line"></div>-->
  <!--<div class="line5 line"></div>-->
  <!--<div class="line6 line"></div>-->
  <!--<div class="line7 line"></div>-->
  <!--<div class="line8 line"></div>-->
  <!--<div class="circle1 circle"></div>-->
  <!--<div class="circle2 circle"></div>-->
  <!--<div class="circle3 circle"></div>-->
  <!--<div class="circle4 circle"></div>-->
  <!--<div class="circle5 circle"></div>-->
  <!--<div class="circle6 circle"></div>-->
  <!--<div class="circle7 circle"></div>-->
  <!--<div class="circle8 circle"></div>-->
  <div class="shouyeshang">
    <div class="partygk">
      <div class="patitle">
        <a href="#" style="float: left">
          <i></i>
          <span>党建概况</span>
        </a>
        <a href="#" style="float: right"><span>查看详情>></span></a>
      </div>
      <div style="margin: 0 20px;height: 90%">
        <img src="/modules/global/client/img/home/党建概况.png" style="float: left;width: 60%">
        <!--<span style="float: left">-->
        <!--这次榜单有一位新的首富——恒大的许家印。他的个人财富值半年涨了近2000亿，达到历史上新高2900亿，几乎是去年4倍。他是胡润百富榜19年来第12位中国首富，也是历年来财富最高的首富。-->
      <!--</span>-->
        <p style="line-height: 35px;text-indent: 2em;">这次榜单有一位新的首富——恒大的许家印。他的个人财富值半年涨了近2000亿，达到历史上新高2900亿，几乎是去年4倍。他是胡润百富榜19年来第12位中国首富，也是历年来财富最高的首富。
46岁的马化腾财富增长52%，以2500亿元超越马云位列第二。53岁的马云及其家族财富缩水2%，以2000亿元退居第三。但阿里系竟有43位股东上榜，比去年新增25人。
3位企业家新进入前十，分别是财富达去年3倍多的碧桂园36岁的杨惠妍、“快递大王”顺丰王卫和财富几乎是去年4倍的吉利李书福、李星星父子。
女富豪比例25.8%，比去年的24%略有上升，其中7成白手起家。杨惠妍重新成为中国女首富。
6位“90后”上榜，比去年增加3位。ofo 26岁的戴威以35亿财富成为第一个上榜的白手起家“90后”。
中国的制造业是创造财富最多的，三成的上榜企业家来自制造业。
粤港澳大湾区成为财富聚集地，共467位企业家上榜，其次是北京。浙商第一次被粤商超越，粤商增加52人到284，浙商263。今年前十名中涉足IT行业的最多，有4位，人数和去年相同；涉足地产行业的比去年减少一半，到3位。前十名上榜门槛比去年提高41%，突破千亿达到1100亿。
          胡润表示：“今年我们全球富豪榜前100名门槛是830亿，前十名这些人都能上全球富豪榜前100名”。前十名平均年龄49岁，比去年前十名年轻5岁。前十名中住在广东的最多，有4位；其次是浙江，有3位，北京有2位，江苏和香港各1位。今年前十名中涉足IT行业的最多，有4位，人数和去年相同；涉足地产行业的比去年减少一半，到3位。前十名上榜门槛比去年提高41%，突破千亿达到1100亿。
          胡润表示：“今年我们全球富豪榜前100名门槛是830亿，前十名这些人都能上全球富豪榜前100名”。前十名平均年龄49岁，比去年前十名年轻5岁。前十名中住在广东的最多，有4位；其次是浙江，有3位，北京有2位，江苏和香港各1位。</p>
      </div>

    </div>
    <div class="partyjc">
    </div>
    <div class="partywj">
      <div class="patitle">
        <a href="#" style="float: left">
          <i></i>
          <span>党建文件</span>
        </a>
        <a href="#" style="float: right"><span>查看详情>></span></a>
      </div>
      <div style="margin: 0 20px">
        <h3>46岁的马化腾财富增长52%，以2500亿元超越马云位列第二</h3>
        <p style="line-height: 35px;text-indent: 2em;">这次榜单有一位新的首富——恒大的许家印。他的个人财富值半年涨了近2000亿，达到历史上新高2900亿，几乎是去年4倍。他是胡润百富榜19年来第12位中国首富，也是历年来财富最高的首富。
          46岁的马化腾财富增长52%，以2500亿元超越马云位列第二。53岁的马云及其家族财富缩水2%，以2000亿元退居第三。但阿里系竟有43位股东上榜，比去年新增25人。
          3位企业家新进入前十，分别是财富达去年3倍多的碧桂园36岁的杨惠妍、“快递大王”顺丰王卫和财富几乎是去年4倍的吉利李书福、李星星父子。
          女富豪比例25.8%，比去年的24%略有上升，其中7成白手起家。杨惠妍重新成为中国女首富。
          6位“90后”上榜，比去年增加3位。ofo 26岁的戴威以35亿财富成为第一个上榜的白手起家“90后”。
          中国的制造业是创造财富最多的，三成的上榜企业家来自制造业。
          粤港澳大湾区成为财富聚集地，共467位企业家上榜，其次是北京。浙商第一次被粤商超越，粤商增加52人到284，浙商263。今年前十名中涉足IT行业的最多，有4位，人数和去年相同；涉足地产行业的比去年减少一半，到3位。前十名上榜门槛比去年提高41%，突破千亿达到1100亿。
          胡润表示：“今年我们全球富豪榜前100名门槛是830亿，前十名这些人都能上全球富豪榜前100名”。前十名平均年龄49岁，比去年前十名年轻5岁。前十名中住在广东的最多，有4位；其次是浙江，有3位，北京有2位，江苏和香港各1位。今年前十名中涉足IT行业的最多，有4位，人数和去年相同；涉足地产行业的比去年减少一半，到3位。前十名上榜门槛比去年提高41%，突破千亿达到1100亿。
          胡润表示：“今年我们全球富豪榜前100名门槛是830亿，前十名这些人都能上全球富豪榜前100名”。前十名平均年龄49岁，比去年前十名年轻5岁。前十名中住在广东的最多，有4位；其次是浙江，有3位，北京有2位，江苏和香港各1位。</p>
      </div>
    </div>
  </div>
  <div class="shouyexia">
    <div class="wentuhd">
      <div class="patitle">
        <a href="#" style="float: left">
          <i></i>
          <span>文体活动</span>
        </a>
        <a href="#" style="float: right"><span>查看详情>></span></a>
      </div>
      <div class="nr">
        <div class="wentuhdleft">
          <ul>
            <li class="first"><img src="/modules/global/client/img/home/活动1.png"></li>
            <li ng-click="vm.tiaozhuan(1)"><img src="/modules/global/client/img/home/活动1.png"></li>
            <li ng-click="vm.tiaozhuan(2)"><img src="/modules/global/client/img/home/活动2.png"></li>
            <li ng-click="vm.tiaozhuan(3)"><img src="/modules/global/client/img/home/活动3.png"></li>
          </ul>
        </div>
        <div class="wentuhdright">
          <h3>46岁的马化腾财富增长52%，以2500亿元超越马云位列第二</h3>
          <p style="line-height: 35px;text-indent: 2em;">这次榜单有一位新的首富——恒大的许家印。他的个人财富值半年涨了近2000亿，达到历史上新高2900亿，几乎是去年4倍。他是胡润百富榜19年来第12位中国首富，也是历年来财富最高的首富。
            46岁的马化腾财富增长52%，以2500亿元超越马云位列第二。53岁的马云及其家族财富缩水2%，以2000亿元退居第三。但阿里系竟有43位股东上榜，比去年新增25人。
            3位企业家新进入前十，分别是财富达去年3倍多的碧桂园36岁的杨惠妍、“快递大王”顺丰王卫和财富几乎是去年4倍的吉利李书福、李星星父子。
            女富豪比例25.8%，比去年的24%略有上升，其中7成白手起家。杨惠妍重新成为中国女首富。
            6位“90后”上榜，比去年增加3位。ofo 26岁的戴威以35亿财富成为第一个上榜的白手起家“90后”。
            中国的制造业是创造财富最多的，三成的上榜企业家来自制造业。
            粤港澳大湾区成为财富聚集地，共467位企业家上榜，其次是北京。浙商第一次被粤商超越，粤商增加52人到284，浙商263。今年前十名中涉足IT行业的最多，有4位，人数和去年相同；涉足地产行业的比去年减少一半，到3位。前十名上榜门槛比去年提高41%，突破千亿达到1100亿。
            胡润表示：“今年我们全球富豪榜前100名门槛是830亿，前十名这些人都能上全球富豪榜前100名”。前十名平均年龄49岁，比去年前十名年轻5岁。前十名中住在广东的最多，有4位；其次是浙江，有3位，北京有2位，江苏和香港各1位。今年前十名中涉足IT行业的最多，有4位，人数和去年相同；涉足地产行业的比去年减少一半，到3位。前十名上榜门槛比去年提高41%，突破千亿达到1100亿。
            胡润表示：“今年我们全球富豪榜前100名门槛是830亿，前十名这些人都能上全球富豪榜前100名”。前十名平均年龄49岁，比去年前十名年轻5岁。前十名中住在广东的最多，有4位；其次是浙江，有3位，北京有2位，江苏和香港各1位。</p>
        </div>
      </div>
    </div>
    <div class="banzicy">
      <div class="patitle">
        <a href="#" style="float: left">
          <i></i>
          <span>班子成员</span>
        </a>
        <a href="#" style="float: right"><span>查看详情>></span></a>
      </div>
      <div class="zhonglou">
        <ul>
          <li>
            <img src="/modules/global/client/img/home/钟楼.png">
            <h4>钟楼</h4>
          </li>
          <li class="dier">
            <img src="/modules/global/client/img/home/钟楼.png">
            <h4>钟楼</h4>
          </li>
          <li class="dier1">
            <img src="/modules/global/client/img/home/钟楼.png">
            <h4>钟楼</h4>
          </li>
          <li>
            <img src="/modules/global/client/img/home/钟楼.png">
            <h4>钟楼</h4>
          </li>
          <li>
            <img src="/modules/global/client/img/home/钟楼.png">
            <h4>钟楼</h4>
          </li>
          <li class="dier">
            <img src="/modules/global/client/img/home/钟楼.png">
            <h4>钟楼</h4>
          </li>
          <li class="dier1">
            <img src="/modules/global/client/img/home/钟楼.png">
            <h4>钟楼</h4>
          </li>
          <li>
            <img src="/modules/global/client/img/home/钟楼.png">
            <h4>钟楼</h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
