<div class="orgset-modal">
  <div class="modal-header">
    <h3>
      组织人员

      <div class="btn-group pull-right" role="group" aria-label="oper">
        <a class="btn btn-primary" ng-click="vm.addPerson()" tooltip-placement="top" uib-tooltip="新增">
          <i class="glyphicon glyphicon-plus"></i>
        </a>
        <a class="btn btn-primary" ng-click="vm.updatePerson()" ng-show="!!vm.selectedRow" tooltip-placement="top" uib-tooltip="修改">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="vm.removePerson()" ng-show="!!vm.selectedRow" tooltip-placement="top" uib-tooltip="删除">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
        <a class="btn btn-primary" ng-click="vm.viewPerson()" ng-show="!!vm.selectedRow" tooltip-placement="top" uib-tooltip="查看">
          <i class="glyphicon glyphicon-eye-open"></i>
        </a>
      </div>
    </h3>

  </div>
  <div class="modal-body col-md-12">
    <div ui-grid="vm.gridOptions"
         ui-grid-selection
         ui-grid-pagination
         ui-grid-resize-columns
         ui-grid-exporter
         class="orgset-grid" ></div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="vm.cancel()">取消</button>
  </div>
</div>
