<div class="orgset-model">
  <div class="modal-header">
    <h1>新增人员</h1>
  </div>
  <div class="modal-body col-md-12">
    <form name="vm.orgpersonForm" class="form-horizontal" novalidate>
      <fieldset ng-disabled="vm.disabled">
        <!--第1行-->
        <div class="row clearfix">
          <div class="col-md-6 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group" show-errors>
              <div class="col-md-12">
                <label class="control-label">领导机构</label>
                <select class="form-control"
                        name="orgId"
                        ng-model="vm.orgpersonData.orgId"
                        ng-options="cv_org.orgId as cv_org.orgName for cv_org in cvs_org"
                        required
                        ng-disabled="true"
                >
                </select>
              </div>
            </div>

            <div class="form-group" show-errors>
              <div class="col-md-12">
                <label class="control-label">人员名称</label>
                <input name="personName"
                       type="text"
                       ng-model="vm.orgpersonData.personName"
                       class="form-control"
                       ng-required="true"
                       placeholder=""
                       ng-maxlength="100"
                       required
                       autofocus/>

                <div ng-messages="vm.orgpersonForm.personName.$error" role="alert">
                  <p class="help-block error-text"
                     ng-message="required">请输入人员名称.</p>
                </div>
                <div ng-messages="vm.orgpersonForm.personName.$error" role="alert">
                  <p class="help-block error-text"
                     ng-message="maxlength">字数限制100字以内</p>
                </div>
              </div>
            </div>
            <div class="form-group" show-errors>
              <div class="col-md-12">
                <label class="control-label">分类</label>
                <select
                  ng-model="vm.orgpersonData.duty"
                  class="form-control"
                  placeholder="请选择职位"
                  name="duty"
                  required autofocus>
                  <option value="{{orgname.name}}" data-ng-repeat="orgname in vm.orgname">{{orgname.name}}</option>
                </select>
                <div ng-messages="vm.orgpersonForm.duty.$error" role="alert">
                  <p class="help-block error-text"
                     ng-message="required">请选择职位.</p>
                </div>
              </div>
            </div>
            <div class="form-group" show-errors>
              <div class="col-md-12">
                <label class="control-label">职位</label>
                <input name="personduty"
                       type="text"
                       ng-model="vm.orgpersonData.personduty"
                       class="form-control"
                       placeholder="职位"
                       ng-maxlength="50"
                       required
                       autofocus/>
                <div ng-messages="vm.orgpersonForm.personduty.$error" role="alert">
                  <p class="help-block error-text"
                     ng-message="required">请输入人员职位.</p>
                </div>
                <div ng-messages="vm.orgpersonForm.personduty.$error" role="alert">
                  <p class="help-block error-text"
                     ng-message="maxlength">字数限制50字以内.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- 人员照片-->
          <div class="col-md-6 column" style="margin-top: 0px;margin-bottom: 0px;">
            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">人员照片</label>
                <div class="form-group text-center">
                  <img ngf-src="vm.fileSelected ? vm.personPhoto : vm.orgpersonData.personPhoto"
                       alt="" class="img-thumbnail project-profile-picture" ngf-drop>
                </div>
                <div ng-show="vm.loading" class="form-group text-center">
                  <img ng-src="/modules/core/client/img/loaders/loader.gif"
                       height="80" width="40" alt="Loading image...">
                </div>
                <div class="text-center form-group">
                  <button class="btn btn-default btn-file"
                          ngf-select="(vm.fileSelected = true) && (vm.loading = false)"
                          ng-model="vm.personPhoto" accept="image/*"
                          ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}"
                          ngf-resize-if="$width > 400 || $height > 400">点击选择人员照片
                  </button>
                </div>

              </div>
            </div>
          </div>

        </div>
        <div class="form-group" show-errors ng-if="vm.showa">
          <div class="row">
            <div class="col-md-12">
              <label class="control-label">工作职责</label>
              <textarea name="personName"
                        type="text"
                        ng-model="vm.orgpersonData.OrgTable.duty"
                        class="form-control" cols="30" rows="10"></textarea>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-if="!vm.disabled" ng-click="vm.ok(vm.orgpersonForm.$valid)">确定</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">取消</button>
  </div>
</div>
