<div class="teammembers-modal">
  <div class="modal-header">
    <h1>{{vm.method}} 班子成员</h1>
  </div>
  <div class="modal-body col-md-12">
    <form name="vm.teammembersForm" class="form-horizontal" novalidate>
      <fieldset ng-disabled="vm.disabled">
        <div class="form-group" show-errors>
          <label class="control-label" for="name">名字</label>
          <input name="name" type="text" ng-model="vm.teammembersData.name" id="name" class="form-control" placeholder="名字" required autofocus>
          <div ng-messages="vm.teammembersForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请数入名字.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="content">性别</label>
          <select name="sex" id="content" ng-model="vm.teammembersData.sex"required class="form-control">
            <option value="女">女</option>
            <option value="男">男</option>
          </select>
          <div ng-messages="vm.teammembersForm.sex.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请数入性别.</p>
          </div>
          <!--<input name="sex" ng-model="vm.teammembersData.sex" id="content" class="form-control"placeholder="性别">-->
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="content">职务</label>
          <input name="duty" ng-model="vm.teammembersData.duty" id="duty" ng-maxlenght="250" class="form-control" required cols="30" rows="10" placeholder="职务">
          <div ng-messages="vm.teammembersForm.duty.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请数入职务.</p>
          </div>
          <div ng-messages="vm.teammembersForm.duty.$error" role="alert">
            <p class="help-block error-text" ng-message="maxlenght">字数在250以内.</p>
          </div>
        </div>
        <div class="form-group" ng-show="vm.method === '新增'">
          <label class="control-label">照片</label>
          <!--<input name="photo" ng-model="vm.teammembersData.photo" id="photo" class="form-control" cols="30" rows="10" placeholder="照片">-->
          <div>
            <button class="btn btn-default btn-file"
                    ngf-select="(vm.fileSelected = true) && (vm.loading = false)"
                    ng-model="vm.create_photoPicFile" accept="image/*" ngf-before-model-change="vm.loading = true"
                    ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">照片
            </button>
          </div>
          <div class="text-center" style="margin-top: 10px;">
            <img id="create_photo" ngf-src="vm.fileSelected ? vm.create_photoPicFile : vm.torectestData.create_photo"
                 alt="没有图片" class="img-thumbnail" ngf-drop>
          </div>
          <div ng-show="vm.loading" class="form-group text-center">
            <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
          </div>
        </div>
        <div class="form-group" ng-show="vm.method === '修改'">
          <!--<img src="{{vm.teammembersData.photo}}" alt="">-->
          <div class="text-center" style="margin-top: 10px;">
            <img id="update_photo" ngf-src="vm.fileSelected ? vm.create_photoPicFile : vm.teammembersData.photo"
                 alt="没有图片" class="img-thumbnail" ngf-drop>
          </div>
          <div>
            <button class="btn btn-default btn-file"
                    ngf-select="(vm.fileSelected = true) && (vm.loading = false)"
                    ng-model="vm.create_photoPicFile" accept="image/*" ngf-before-model-change="vm.loading = true"
                    ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">更换照片
            </button>
          </div>
          <div ng-show="vm.loading" class="form-group text-center">
            <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
          </div>
        </div>
        <div class="seekphoto" ng-show="vm.method === '查看'">
          照片<img src="{{vm.teammembersData.photo}}" alt="">
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-if="!vm.disabled" ng-click="vm.ok(vm.teammembersForm.$valid)">确认</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">取消</button>
  </div>
</div>
