/*模态窗口*/
.page-modal {
    margin: 10px;
}
/*表格*/
.page-grid {
    height: 500px;
}
.xiangmu{
	padding:0;
	margin: 0;
}
.xiangmu li{
	float: left;
	width: 50%;
	line-height: 34px;
	margin: 20px 0;
}
.xiangmu li span{
	height: 100px;
	overflow-y: auto;
}
.xiangmu li span, .xiangmu1 p span{
	font-size: 16px;
}
.xiangmu li i{
	display: inline-block;
	vertical-align: middle;
	width: 184px;
	height: 43px;
	margin-right: -20px;
	background-size: 80% 80%;
}
.xiangmu1{
	font-weight: bold;
	margin-top: 70px;
}
.xiangmu1 p{
	margin: auto 0;
}
.xiangmu2{
	font-weight: bold;
	font-size: 16px;
}
.xiangmu2 i{
	display: inline-block;
	vertical-align: middle;
	background-size: 90% 90%;
}
.xiangmu1 p:nth-of-type(1) i{
	display: inline-block;
	vertical-align: middle;
	width: 149px;
	height: 54px;
	background-size: 80% 80%;
}
.xiangmu1 p:nth-of-type(2) i{
	display: inline-block;
	vertical-align: middle;
	width: 142px;
	height: 82px;
	background-size: 80% 80%;
}
.xiangmu1 p:nth-of-type(3) i{
	display: inline-block;
	vertical-align: middle;
	width: 145px;
	height: 44px;
	background-size: 80% 80%;
}
.xiangmu1 p span{
	float: left;
	/*display: inline-block;*/
	width: 100%;
	padding: 20px;
	border: 1px solid #ddd;
	background-color: #fff;
	/*background-color: rgba(255, 255, 255, 1);*/
	border-radius: 10px;
}
.item1{
	display: inline-block;
	width: 122px;
	height: 25px;
	background: url("/modules/page/client/img/xiangmu/项目名称.png") no-repeat;
}
.item2{
	vertical-align: text-top;
	width: 134px;
	height: 30px;
	background: url("/modules/page/client/img/xiangmu/项目logo.png") no-repeat;
}
.item3{
	background: url("/modules/page/client/img/xiangmu/项目类型.png") no-repeat;
}
.item4{
	background: url("/modules/page/client/img/xiangmu/上报社区.png") no-repeat;
}
.item5{
	background: url("/modules/page/client/img/xiangmu/项目来源.png") no-repeat;
}
.item6{
	width: 123px;
	height: 24px;
	background: url("/modules/page/client/img/xiangmu/受益人数.png") no-repeat;
}
.item7{
	background: url("/modules/page/client/img/xiangmu/项目简介3.png") no-repeat;
}
.item8{
	background: url("/modules/page/client/img/xiangmu/上报时间.png") no-repeat;
}
.item9{
	background: url("/modules/page/client/img/xiangmu/拟完成时间.png") no-repeat;
}
.item10{
	background: url("/modules/page/client/img/xiangmu/负责人.png") no-repeat;
}
.item11{
	background: url("/modules/page/client/img/xiangmu/具体推进措施.png") no-repeat;
}
.item12{
	background: url("/modules/page/client/img/xiangmu/认领单位.png") no-repeat;
}
.item13{
	width: 130px;
	height: 30px;
	background: url("/modules/page/client/img/xiangmu/状态.png") no-repeat;
}
.wenti{
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.wenti li{
	float: left;
}
.wenti li:nth-of-type(1){
	color: red;
	font-size: 18px;
	font-weight: bold;
	width: 10%;
}
.wenti li:nth-of-type(2){
	font-size: 15px;
	line-height: 30px;
	text-indent: 2em;
	width: 90%;
}
.button{
	border:1px solid #c2c0c0;
	border-radius: 5px;
	background: linear-gradient(#fafbfa, #eeefef, #e2e3e3);
	text-align: center;
	height: 43px;
	line-height: 43px;
}
.button:hover{
	border:1px solid #c50813;
	border-radius: 5px;
	background: linear-gradient(#ff3636, #fd4343, #d81620);
	color: #fff;
}
.button:hover>a{
	color: #fff;
}
a:hover{
	text-decoration: none;
}
.media-body:hover{
	background-color: #f5f5f5;
}
.caitiao:nth-of-type(even){
	background: #ddd;
}
.caitiao:hover{
	background-color: #f5f5f5;
}
.caitiao1:nth-of-type(odd){
	background: #ddd;
}
.caitiao1:hover{
	background-color: #f5f5f5;
}
.threehyk tbody tr td:nth-of-type(1){
	text-align: center;
}
.threehyk tbody tr td:nth-of-type(3){
	text-align: center;
}
.threehyk tbody tr:nth-of-type(5) td:nth-of-type(1){
	line-height: 300px;
	height: 300px;
}
.edu div:hover{
	background: linear-gradient(#ff3636, #fd4343, #d81620);
}
.blogroll ul{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.blogroll ul li{
	float: left;
	width: 150px;
	margin-left: 15px;
}
.blogroll ul li:nth-of-type(1){
	margin-left:0;
}
.blogroll ul li a{
	margin: 15px;
}
.blogroll ul li a img{
	width: 150px;
	height: 50px;
	margin: 15px 0;
}
.listactive{
	background: linear-gradient(#ff3636, #fd4343, #d81620);
	color: #fff;
}
.xiangmuxq tbody tr td span{
	display: inline-block;
}
.xiangmuxq tbody tr td:nth-of-type(1) span{
	width: 100px;
	line-height: 217px;
}
.xiangmuxq tbody tr td:nth-of-type(3) span{
	text-align: left;
	text-indent: 2em;
}
.xiangmuxq tbody tr td:nth-of-type(4) span{
	width: 100px;
}
.cityduty tbody tr td span{
	display: inline-block;
	line-height: 167px;
}
.cityduty tbody tr td:nth-of-type(1) span{
	width: 100px;
}
.cityduty tbody tr td:nth-of-type(2) span{
	width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.cityduty tbody tr td:nth-of-type(3) span{
	width: 500px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.cityduty tbody tr td:nth-of-type(4) span{
	width: 130px;
}
.sidebarbtn{
	position: fixed;
	top: 200px;
	right: -15px;
	width: 100px;
}
.sidebarbtn a{
	display: inline-block;
	width: 79px;
	margin: 5px 0;
	border: 1px solid #c2c0c0;
	border-radius: 5px;
	background: linear-gradient(#fafbfa, #eeefef, #e2e3e3);
	text-align: center;
	height: 43px;
	line-height: 43px;
}
.sidebarbtn a:hover{
	border: 1px solid #c50813;
	border-radius: 5px;
	background: linear-gradient(#ff3636, #fd4343, #d81620);
	color: #fff;
}
.gridpenson ul{
	height: 324px;
	overflow-y: auto;
	margin: 0;
	padding: 0;
}
.gridpenson ul li{
	float: left;
	width: 46%;
	text-align: left;
	margin: 10px;
}
.gridpenson ul li span:nth-of-type(1){
	width: 60%;
	display: inline-block;
	text-align: left;
	padding-left: 40px;
}
.gridpenson ul li span:nth-of-type(2){
	width: 40%;
	display: inline-block;
	text-align: left;
	padding-left: 10px;
}
.citystr_wtqs thead tr th{
	text-align: center;
}
.citystr_wtqs tbody tr td:nth-of-type(1) a p {
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.citystr_wtqs tbody tr td:nth-of-type(2) a p {
	width: 350px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.leader li div{
	margin-left: 35px;
	font-size: 20px;
}
.leaders{
	display: flex;
	justify-content:center ;
	flex-wrap: wrap;
}
.leaders li div{
	/*width: 150px;*/
	margin-top: 10px;
	/*overflow: hidden;*/
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
}
.leaders li>div:nth-of-type(1):before{
	content: '';
	width: 2px;
	height: 10px;
	background: red;
	position: absolute;
	left:49%;
	top: 43px;
}
.leaders li>div:nth-of-type(2):before{
	content: '';
	width: 2px;
	height: 10px;
	background: red;
	position: absolute;
	left:51%;
	bottom: 41px;
}
