<section class="home-view view-backgroupd xiangqingbg" ng-style="styles">
  <div class="container-fluid" style="width: 1200px;margin: 0 auto;background: url('/modules/page/client/img/xiangmu/header.png')no-repeat;background-color: #fff;position: relative;z-index: 10;min-height: 741px">
    <div style="height: 20px"></div>
    <iframe ng-src="{{vm.gongjian}}" width="100%" class="myiframe" frameborder="0"></iframe>
  </div>
  <div ng-include="'/modules/core/client/views/footers.client.view.html'" class="footers" ng-show="vm.show"></div>
</section>
