<section class="home-view view-backgroupd xiangqingbg" ng-style="styles">
  <div class="container-fluid" style="width: 1200px;margin: 0 auto;background: url('/modules/page/client/img/xiangmu/header.png')no-repeat;background-color: #fff;position: relative;z-index: 10;min-height: 741px">
    <div class="patitle" style="padding-bottom: 15px;">
      <a href="#" style="float: left">
        <i></i>
        <span>莲湖教育</span>
      </a>
    </div>
    <div class="row edu" style="margin-top: 70px;">
      <div class="col-md-6 col-lg-6" style="text-align: center;padding: 40px">
        <a href="http://lhfg.gbjy.sn.cn/" target="_blank">
          <img src="/modules/page/client/img/fgwx.png" style='width: 100%'>
        </a>
      </div>
      <div class="col-md-6 col-lg-6" style="text-align: center;padding: 40px">
        <a href="http://www.lhqdjw.com/" target="_blank">
          <img src="/modules/page/client/img/djw.png" style='width: 100%'>
        </a>
      </div>
    </div>
    <div class="patitle" style="padding-bottom: 15px;margin-top: 90px">
      <a href="#" style="float: left">
        <!--<i></i>-->
        <span>友情链接</span>
      </a>
    </div>
    <div class="blogroll">
      <ul>
        <li>
          <a href="http://ddsx.ishaanxi.com/">
            <img src="/modules/core/client/img/image/dibulunbo/ddsx.png">
          </a>
          <a href="http://www.dangjian.com/">
            <img src="/modules/core/client/img/image/dibulunbo/djw.png">
          </a>
        </li>
        <li>
          <a href="http://www.12371.cn/">
            <img src="/modules/core/client/img/image/dibulunbo/gcdyw.png">
          </a>
          <a href="http://www.qinfeng.gov.cn/">
            <img src="/modules/core/client/img/image/dibulunbo/qingfen.png">
          </a>
        </li>
        <li>
          <a href="http://www.sx-dj.gov.cn/">
            <img src="/modules/core/client/img/image/dibulunbo/sxdangjian.png">
          </a>
          <a href="http://www.snjgdj.gov.cn/">
            <img src="/modules/core/client/img/image/dibulunbo/sxdjgw.png">
          </a>
        </li>
        <li>
          <a href="http://www.shaanxi.gov.cn/">
            <img src="/modules/core/client/img/image/dibulunbo/sxrmzfw.png">
          </a>
          <a href="http://www.sxdyyj.com/">
            <img src="/modules/core/client/img/image/dibulunbo/sxsdygbychy.png">
          </a>
        </li>
        <li>
          <a href="http://www.xajggw.gov.cn/">
            <img src="/modules/core/client/img/image/dibulunbo/xajgdjw.png">
          </a>
          <a href="http://www.xa.gov.cn/ptl/index.html">
            <img src="/modules/core/client/img/image/dibulunbo/xasrmzfw.png">
          </a>
        </li>
        <li>
          <a href="http://www.xasw.gov.cn/">
            <img src="/modules/core/client/img/image/dibulunbo/xasww.png">
          </a>
          <a href="http://www.ytqdj.com/">
            <img src="/modules/core/client/img/image/dibulunbo/ytdjw.png">
          </a>
        </li>
        <li>
          <a href="http://www.yanta.gov.cn/">
            <img src="/modules/core/client/img/image/dibulunbo/ytzfw.png">
          </a>
          <a href="http://www.zzdjw.org.cn/">
            <img src="/modules/core/client/img/image/dibulunbo/zzdj.png">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div ng-include="'/modules/core/client/views/footers.client.view.html'" class="footers" ng-show="vm.show"></div>
</section>

