<section class="home-view view-backgroupd xiangqingbg" ng-style="styles">
  <div class="container-fluid" style="width: 1200px;margin: 0 auto;background: url('/modules/page/client/img/xiangmu/header.png')no-repeat;background-color: #fff;position: relative;z-index: 10;min-height: 741px">
    <div ng-if="!vm.gongjian.docFile">
      <h3 style="text-align: center"><span style='padding: 5px 10px;background: url("/modules/page/client/img/tupian/项目名称.png"); background-size:100% 100%;color:#fff;'>{{vm.gongjian .title}}</span></h3>
      <div style="text-align: center">
        <img src="{{vm.gongjian.photo}}">
      </div>
      <p style="text-indent: 2em" class="zhangshi">
      </p>
    </div>
    <div style="height: 20px"></div>
    <div ng-include="vm.gongjian.docFile" class="myiframe" onload="expression()"></div>
    <!--<iframe ng-src="{{vm.gongjian.docFile}}" width="100%" class="myiframe" frameborder="0"></iframe>-->
  </div>
  <div ng-include="'/modules/core/client/views/footers.client.view.html'" class="footers" ng-show="vm.show"></div>
</section>
