<section class="home-view view-backgroupd xiangqingbg" ng-style="styles">
  <div class="container-fluid" style="width: 1200px;margin: 0 auto;background: url('/modules/page/client/img/xiangmu/header.png')no-repeat;background-color: #fff;">
    <div class="row">
      <div class="col-md-6 gridpenson">
          <div class="patitle" style="padding-bottom: 15px;">
            <a href="#" style="float: left">
              <i></i>
              <span>三长五员</span>
            </a>
          </div>
          <ul>
            <li class="button"><span>网格党建小组组长</span><span>{{vm.threefive.gridGleader}}</span></li>
            <li class="button"><span>党建指导员</span><span>{{vm.threefive.PInstructor}}</span></li>
            <li class="button"><span>楼栋长</span><span>{{vm.threefive.peerAdvisor}}</span></li>
            <li class="button"><span>中心户长</span><span>{{vm.threefive.centerLeader}}</span></li>
            <li class="button"><span>经济发展专员</span><span>{{vm.threefive.EconomicZY}}</span></li>
            <li class="button"><span>社会稳定专员</span><span>{{vm.threefive.socialStabilitycZY}}</span></li>
            <li class="button"><span>网格长</span><span>{{vm.threefive.gridZhang}}</span></li>
            <li class="button"><span>党建工作专员</span><span>{{vm.threefive.partyBuild}}</span></li>
            <li class="button"><span>公共服务专员</span><span>{{vm.threefive.publicZY}}</span></li>
            <li class="button"><span>城市管理专员</span><span>{{vm.threefive.cityZY}}</span></li>
          </ul>
        </div>
      <div class="col-md-6">
        <div class="patitle" style="padding-bottom: 15px;">
          <a href="#" style="float: left">
            <i></i>
            <span>工作职责</span>
          </a>
        </div>
        <div>
          <p>{{vm.jobzhize.dutycontent}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="patitle" style="padding-bottom: 15px;">
          <a href="#" style="float: left">
            <i></i>
            <span>问题上报</span>
          </a>
        </div>
        <div class="citystr_wtqs">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>标题</th>
              <th>问题内容</th>
              <th>上报组织</th>
              <th>处理平台</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="prowall in vm.prowall track by $index" class="caitiao1" ng-click="vm.proll($index)" style="text-align: center">
              <td><a href=""><p>{{prowall.wtTitle}}</p></a></td>
              <td><a href=""><p>{{prowall.wtContent}}</p></a></td>
              <td><a href=""><span>{{prowall.superName}}</span></a></td>
              <td><a href=""><span>{{prowall.pt}}</span></a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4">
        <div class="patitle" style="padding-bottom: 15px;">
          <a href="#" style="float: left">
            <i></i>
            <span>工作日志</span>
          </a>
        </div>
        <div>
          <p>
            {{vm.wornode.userReportContext}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'/modules/core/client/views/footers.client.view.html'" class="footers" ng-show="vm.show"></div>
</section>
