<style>
  .container-fluid.page-content{
    background-image: url('/modules/core/client/img/houtaibg.png')
  }
</style>
<section class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="vm.passwordForm" ng-submit="vm.changeUserPassword(vm.passwordForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="currentPassword">当前密码</label>
          <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="vm.passwordDetails.currentPassword" placeholder="请输入当前密码" required autofocus>
          <div ng-messages="vm.passwordForm.currentPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请输入当前密码</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="newPassword">新密码</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="vm.passwordDetails.newPassword" placeholder="输入一个新的密码" uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" password-validator required>
          <div ng-messages="vm.passwordForm.newPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">输入一个新的密码</p>
            <div>
              <p class="help-block error-text" ng-show="vm.passwordForm.newPassword.$error.requirements">请输入6位数不相同的密码</p>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="verifyPassword">重复新密码</label>
          <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="vm.passwordDetails.verifyPassword" placeholder="请再次输入新密码" password-verify="vm.passwordDetails.newPassword" required>
          <div ng-messages="vm.passwordForm.verifyPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请再次输入新密码</p>
            <p class="help-block error-text" ng-show="vm.passwordForm.verifyPassword.$error.passwordVerify">密码不匹配</p>
          </div>
        </div>
        <div class="form-group" ng-show="!vm.passwordForm.newPassword.$error.required">
          <label>密码长度验证</label>
          <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">提交</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
