<style>
  .container-fluid.page-content{
    background-image: url('/modules/core/client/img/houtaibg.png');
  }
</style>
<section class="row">
  <h3 class="col-md-12 text-center">修复登录密码</h3>
  <p class="small text-center">输入你的用户登录名称.</p>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" placeholder="请输入用户登录名称" lowercase required autofocus>
          <div ng-messages="vm.forgotPasswordForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">请输入用户登录名称.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">提交</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
