<section>
  <!--<div class="view-header">-->
    <!--<h1>-->
      <!--Lianhuwang Table-->
      <!--<div class="btn-group pull-right" role="group" aria-label="oper">-->
        <!--<a class="btn btn-primary" ng-click="vm.add()">-->
          <!--<i class="glyphicon glyphicon-plus"></i>-->
        <!--</a>-->
        <!--<a class="btn btn-primary" ng-click="vm.update()" ng-show="!!vm.selectedRow">-->
          <!--<i class="glyphicon glyphicon-edit"></i>-->
        <!--</a>-->
        <!--<a class="btn btn-primary" ng-click="vm.remove()" ng-show="!!vm.selectedRow">-->
          <!--<i class="glyphicon glyphicon-trash"></i>-->
        <!--</a>-->
        <!--<a class="btn btn-primary" ng-click="vm.view()" ng-show="!!vm.selectedRow">-->
          <!--<i class="glyphicon glyphicon-eye-open"></i>-->
        <!--</a>-->
      <!--</div>-->
    <!--</h1>-->
  <!--</div>-->

  <!--<div ui-grid="vm.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-exporter-->
       <!--class="lianhuwang-grid" ></div>-->
  <iframe src="http://www.lhqdjw.com" width="100%" height="800px" frameborder="0"></iframe>
</section>
