<style>
  .has-error .control-label{
    color:#000;
  }
  .container-fluid.page-content{
    background-image: url('/modules/core/client/img/houtaibg.png');
  }
</style>
<section class="flexible-col view-container">
  <breadcrumbs></breadcrumbs>
  <div class="view-header">
    <h1>
      权限管理
      <div class="btn-group pull-right" role="group" aria-label="oper">
        <a class="btn btn-primary" ng-click="vm.add()" ng-show="vm.disabled">
          <i class="glyphicon glyphicon-plus"></i>
        </a>
        <a class="btn btn-primary" ng-click="vm.remove()" ng-show="vm.disabled && vm.currValue">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
        <a class="btn btn-primary" ng-click="vm.save(vm.roleForm.$valid)" ng-hide="vm.disabled">
          <i class="glyphicon glyphicon-ok"></i>
        </a>
        <a class="btn btn-primary" ng-click="vm.cancel()" ng-hide="vm.disabled">
          <i class="glyphicon glyphicon-remove"></i>
        </a>
        <a class="btn btn-primary" ng-click="vm.update()" ng-show="vm.disabled && vm.currValue">
          <i class="glyphicon glyphicon-pencil"></i>
        </a>
      </div>
    </h1>
  </div>

  <div class="row flexible-grow1 view-content">
    <div class="col-xs-12 col-md-3">
      <a>权限：</a>
      <treecontrol class="tree-classic"
                   tree-model="vm.treeData"
                   options="vm.treeOptions"
                   on-selection="vm.showSelected(node)"
                   selected-node="vm.selected"
                   expanded-nodes="vm.expanded">
        <div ng-drag="vm.canDrag(node)" ng-drag-data="node" ng-drop="vm.canDrop(node)" ng-drop-success="vm.dropComplete($data,node)">
          {{vm.treeTitle(node)}}
        </div>
      </treecontrol>
    </div>
    <div class="col-xs-12 col-md-9">
      <form name="vm.roleForm" novalidate>
        <fieldset ng-disabled="vm.disabled">
          <div class="form-group" show-errors>
            <label for="name">权限名</label>
            <input type="text" id="name" name="name" class="form-control" ng-model="vm.currValue.name" placeholder="role Name" required autofocus />
            <div ng-messages="vm.roleForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">权限名必须输入.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="displayName">权限显示名</label>
            <input type="text" id="displayName" name="displayName" class="form-control" ng-model="vm.currValue.displayName" placeholder="role DisplayName" required />
            <div ng-messages="vm.roleForm.displayName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">权限显示名必须输入.</p>
            </div>
          </div>
          <div class="form-group">
            <label for="descText">权限描述</label>
            <input type="text" id="descText" name="descText" class="form-control" ng-model="vm.currValue.descText" placeholder="role DisplayName" />
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
